:root {
    --primary-color:#5A473A;
    --strong-color:#352a2a;
    --base-color:#8b7e75;
    --accent-color:#B5A6A6;
    --blue-color:#3D85C6;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Kanit', sans-serif;
    font-size: 2.3rem;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    color:var(--strong-color) ;
}

h1{
    font-size: 5.5rem;
}

h2{
    font-size: 5rem;
    font-weight: 900;
}

a{
    text-decoration: none;
}

p{
    font-size: 2.7rem;
}

.main-bg{
    background-image: url(../img/main-bg.svg);
    background-position: center center;
}

.base-bg{
    background-color: var(--base-color);
}

.primary-bg{
    background-color: var(--primary-color);
}

.primary-bg h2{
    color: var(--base-color);
}

.base-main-bg{
    background-image: url(../img/base-main-bg.svg);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section{
    min-height: 100vh;
}

.menu{
    background-color: var(--strong-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom:0.2rem solid rgba(0, 0, 0, 0.233);
    z-index: 3;
}

.menu h1 img{
    width: 29.1rem;
    height:5.9rem;
    margin-top: 2rem;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 2.3rem;
    font-weight: 900;
    color:var(--blue-color);
}

.menu ul li a:hover{
    text-decoration:overline;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.signIn{
    background-color: var(--primary-color);
    border-radius: 2rem;
}

.menu .signIn:hover{
    background-color:#42342b ;
    text-decoration: none;
}

.menu-spacing{
    height: 6.1rem;
    background-image: url(../img/main-bg.svg);
}

.intro{
    display:flex;
    align-items: center;
}

.intro-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 80vh;
    background-image: url(../img/base-secondary-bg.svg);
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}

.intro-text-content h2{
    font-size: 8rem;
    margin-bottom: 5rem;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}

.difer{
    display: flex;
    align-items: center;
}

.difer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    height: 80vh;
}

.difer-text-content, .difer-img{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.difer-text-content h2{
    font-size: 8rem;
    margin-bottom: 5rem;
    text-align: center;
}

.difer-img img{
    max-width: 100%;
    height: auto;
}